<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index12.css') }}" type="text/css">

    <title>test</title>
</head>
    <body>
        <form  method="POST" action="#">
        <div class="navbar">
            
            <input type ="submit" name = "home" value ="Home">
            <input type ="submit" name = "library" value ="Library">
            <input type ="submit" name = "upload" value ="Upload">
            <input type ="submit" name = "contact" value ="Contact Us">
            <div class="dropdown">
                <input type ="submit" name = "Profile" value = "Profile" class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <input type ="submit" name = "settings" value ="Settings">
                    <input type ="submit" name = "loginnew" value ="Log out">
                </div>
            </div>
        </div>
    </form>
    </body>
</html>