<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}" type="text/css">
    <title>test</title>
</head>
<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="settings.css"> -->
    </head>
    <body>
        <form method ="POST" style="border:1px solid #ccc">
            <div class="container">
                <h1>Settings</h1>
                <p>Make changes.</p>
                <hr>


                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="enter email" required>

                <label for="psw"><b>Enter Current Password</b></label>
                <input type="password" placeholder="Enter Current Password" name="current password" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="repeat new password" required>
            

                <div class="clearfix">
                    <button type="button" class="cancelbtn"><a href="index12.html">Cancel</a></button>
                <input type="submit" name = "save" value = "save" class="signupbtn">
                </div>
            </div>
        </form>
    </body>

</html>