

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload_1.css') }}" type="text/css">
  </head>
  <body>
  


    <div class="container">
    
      <form method = "POST">
          <p>Upload</p>    
          <style>
              h1 {text-align: center;}
              p {text-align: center;}
              div {text-align: center;}
              </style>
          
        <input type="file" name = "image" value="Image" >
        <input type="file" name = "sound" value="Sound">
        <input type="submit" name = "upload" value="upload">

            </form>
  </div>
            
<p>hfghgfhg</p>
              <div class="container1">
                <div class="t">
            <!--        <img src="sr.webp">-->
                </div>
                <div class="t">
            <!--        <img src="sr.webp">-->
                </div>
                <div class="t">
            <!--        <img src="sr.webp">-->
                </div>
                <div class="t">
            <!--        <img src="sr.webp">-->
                </div>
            </div>
          </body>
          </html>










              <!-- 
    <div id="bigcontainer">
        <div class="container1">
      
          <div class="flip-card" id="begin">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://pngimg.com/uploads/mario/mario_PNG53.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
    
          <div class="flip-card" id="2">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://pngimg.com/uploads/mario/mario_PNG53.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
    
          <div class="flip-card" id="3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://pngimg.com/uploads/mario/mario_PNG53.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
          
          <div class="flip-card" id="c4">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://pngimg.com/uploads/mario/mario_PNG53.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html> -->





