html, body { height: 100%; }


.container{
display: flex;
justify-content: space-between;
align-items:flex-end;
height: 100vh;
}

div.t {
  height: 200px;
  width: 25%;
  border: 3px solid red;
  box-sizing: border-box;
}